---
---

ul,
ol {
  margin: 20px 0;
  padding-left: 40px;
}

ul {
  list-style-type: square;
}

li {
  margin: 5px 0;
  padding-left: 10px;
  text-align: justify;
  line-height: var(--spacing);

  ul,
  ol {
    margin: 0;
  }
}

// icon-decorated list: remove bullets, use icon as visual marker
ul:has(> li > .icon:first-child) {
  list-style: none;
  padding-left: 8px;
}

ul > li > .icon:first-child {
  margin-right: 0.6em;
  color: var(--primary);
  opacity: 0.85;
}
