<div
  class="feature"
  {% if include.flip %}
    data-flip
  {% endif %}
>
  {% if include.link %}
    <a
      href="{{ include.link | relative_url }}" 
      class="feature-image"
      aria-label="{{ include.title | default: "feature link" }}"
    >
  {% else %}
    <span class="feature-image">
  {% endif %}
    <img
      src="{{ include.image | relative_url }}"
      loading="lazy"
      decoding="async"
      alt="{{ include.title | default: "feature image" }}"
      {% include fallback.html %}
    >
  {% if include.link %}
    </a>
  {% else %}
    </span>
  {% endif %}
  <div class="feature-text">
    {% if include.title %}
      <p class="feature-title">{{ include.title }}</p>
    {% endif %}
    {{ include.text | markdownify }}
  </div>
</div>
