<!-- third party scripts -->
<script src="https://unpkg.com/@popperjs/core@2" defer></script>
<script src="https://unpkg.com/tippy.js@6" defer></script>
{% if page.url == "/research/" %}
  <script src="https://unpkg.com/mark.js@8" defer></script>
{% endif %}

<!-- include all js in scripts folder -->
{% assign scripts = site.static_files | where_exp: "file", "file.path contains '/_scripts'" %}
{% for script in scripts %}
  {% assign script_name = script.path | split: "/" | last %}
  {% assign include_script = true %}
  {% if script_name == "search.js" and page.url != "/research/" %}
    {% assign include_script = false %}
  {% endif %}
  {% if script_name == "site-search.js" and page.url != "/404.html" %}
    {% assign include_script = false %}
  {% endif %}
  {% if script_name == "fetch-tags.js" %}
    {% assign include_script = false %}
  {% endif %}

  {% if include_script %}
    <script
      src="{{ script.path | relative_url }}"
      {% unless script.path contains "dark-mode.js" %}
        defer
      {% endunless %}
    ></script>
  {% endif %}
{% endfor %}
